.song-image-holder {
    width: 150px;
    height: 150px;
    /* overflow: hidden; */
    border: 2px solid black;
}

#individual-song {
    display: flex;
    flex-direction: column;
}

.buttons {
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}